* { box-sizing: border-box; }

 .clearfix { zoom: 1; }
 .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
 .fl { float: left; }
 .fr { float: right; } img { max-width: 100%; vertical-align: bottom; }
 .w { width:100%; margin-left: auto; margin-right: auto; } body { font-family: "Arial", "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei"; }
 .box { /* box-shadow: 4px 4px 20px 6px rgba(155, 155, 155, 0.36); */ }
 .header { box-sizing: border-box; height: 95px; position: fixed; z-index: 1000; top: 0; width: 100%; }
 .header-blue { background: rgba(27, 111, 236, 0.8); }
 .header-white { background: #FFF; }
 .header-white .links .active { border-bottom: 3px solid #333; }
 .header-white .links .active a { color: #333; }
 .header-white .links a { color: #333; }
 .header .logo { width: 80px; margin-top: 5px; margin-left: 10px; }
 .header h1 { font-size: 13px; color: #FFF; margin-top:30px; margin-left: 5px; }
 .header .links > li { margin: 0 10px; padding: 10px 7px; text-align: center; }
 .header-blue .links .active { /* background: #FFF; */ border-bottom: 3px solid #FFF; }
 .header-blue .links .active a { color: #FFF; }
 .header-blue .links a { color: #FFF; }
 .header .links a { text-decoration: none; font-size: 16px; height: 26px; line-height: 26px; display: block; padding: 10px; }
 .header .menu-bar { position: relative; }
 .header .menu { position: absolute; display: none; left: 10px; top: 66px; z-index: 10001; background: #FFF; border: 1px solid #E5E5E5; width: 118px; }
 .header .menu a { display: block; font-size: 13px; color: #666666 !important; text-align: left; padding: 0; height: 32px; line-height: 32px; }
 .header .menu div { border-bottom: 1px solid #E5E5E5; line-height: 32px; padding: 7px 15px; } #dropdown-btn img { vertical-align: middle; }
 .banner { padding-top: 80px; background: url(https://www.leakzero.com/public/assets/bg.png) no-repeat center top; background-size: 100% 100%; height: 700px; overflow: hidden; }
 .banner .banner-container{padding-top:35px;height:520px;background:url(https://cdn.leakzero.com/fe/home_product_intro.png) no-repeat right 40px; background-size: auto 480px; }

 .banner .title { margin-top: 10px; margin-left: 10px; width:45%; }
 .banner .title h1 { /* font-family: SIL-Hei-Med-Jian; */ letter-spacing: 2px; font-size: 40px; color: #FFF; margin-bottom: 10px; }
 .banner .title h2 { font-weight: normal; margin-top: 33px; margin-bottom: 33px; color: #FFF; font-size: 20px; line-height: 1.5; } .download { width: 246px; margin-left: auto; margin-right: auto; }
 .download a { display: block; width: 246px;; height: 56px; line-height: 56px; font-size: 24px; color: #000; text-decoration: none; margin-left: -12px; }
 .download img { width:500px;}

 .desc-c { width:33%; box-sizing: border-box; padding: 30px; }
 .desc-c img { width: 150px; display: block; margin-left: auto; margin-right: auto; }
 .desc-c h1 { text-align: center; margin-top: 30px; margin-bottom: 20px; font-size: 25px; }
 .desc-c p { font-size: 15px; line-height: 24px; width: 170px; margin-left: auto; margin-right: auto; color: #666666; }